.home {
  // background-color: #14161a;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #f9f4f0;
  .center {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-top: 150px;

    .icon_con {
      position: relative;
      width: auto;
      // min-width: 280px;
      // min-height: 280px;
      width: 355px;
      height: 355px;
      // width: 92%;
      // height: 0;
      // padding-top: 100%;
      margin: 0 auto;
      overflow: hidden;
      border: 2px dashed #f6d4b9;
      // background: #fff;
      // border-radius: 5px;
      svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    button:focus,
    button:focus-visible {
      outline: none;
    }

    button:hover {
      border-color: #ffca57;
    }

    .btn_group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 330px;
      margin: 30px auto 0;
    }

    .btn_i {
      width: 100px;
      padding: 10px;
      color: #333;
      font-weight: 600;
      font-size: 14px;
      background: #ffca57;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .right {
    width: 320px;
    min-width: 320px;
    padding: 0 20px 60px;
    overflow-y: auto;
    text-align: left;
    border-left: 2px dashed #f6d4b9;

    &::-webkit-scrollbar {
      width: 4px;
      height: 6px;
    }
    // 滚动区域背景
    &::-webkit-scrollbar-track-piece {
      background-color: rgb(17, 16, 16);
      background-color: white;
      -webkit-border-radius: 6px;
    }

    // 竖向滚动条
    &::-webkit-scrollbar-thumb:vertical {
      height: 5px;
      background-color: rgb(70, 68, 68);
      background-color: #aaaaaa;
      -webkit-border-radius: 6px;
    }

    .t_title {
      margin: 40px 0 20px;
      // color: #fff;
      color: #1e1d1d;
      font-weight: 600;
      font-size: 16px;
      line-height: 23px;
    }

    .t_input {
      display: flex;
      align-items: center;
      margin: 8px 0 20px;
      span {
        margin-right: 10px;
      }
    }

    .t_color_con {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .t_color {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
    }
  }

  input[type='range'] {
    width: 70% !important;
    // background-size: 33% 100%; /*设置左右宽度比例*/
    height: 8px;
    // margin: 8px 0 20px;
    background: -webkit-linear-gradient(#6967fe, #6967fe) no-repeat, #acabff;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none; /*清除系统默认样式*/
  }
  /*拖动块的样式*/
  input[type='range']::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    background: #f8f9fa;
    border: 2px solid #6967fe;
    border-radius: 50%;
    -webkit-appearance: none;
  }

  .radio {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    // color: #fff;
    label {
      display: inline-block;
      font-size: 16px;
      text-align: left;
      text-transform: uppercase;
      cursor: pointer;
    }
    input {
      display: none;
    }
    .radio__icon {
      border: 1px solid #6967fe;
      cursor: pointer;
      pointer-events: none;
      &:before,
      &:after {
        position: absolute;
        transition: 0.2s ease-out;
        content: '';
      }
    }
  }
  .checked {
    label {
      width: 80px;
      height: 20px;
      line-height: 20px;
      transition: all 0.2s;

      &:before,
      &:after {
        position: absolute;
        top: 0;
        left: 25px;
        // width: 110px;
        transition: all 0.2s 0.1s ease-out;
      }

      &:before {
        content: attr(data-text);
      }
    }
    input:checked ~ .radio__icon:before {
      animation: wave 0.7s ease-out;
    }
    input:checked ~ .radio__icon:after {
      transform: scale(1);
      animation: zoomIn 0.2s;
    }
    .radio__icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      background: #fff;
      border-radius: 50%;
      box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.15);

      &:before,
      &:after {
        border-radius: 50%;
      }
      &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
      }
      &:after {
        top: 3px;
        left: 3px;
        width: 60%;
        height: 60%;
        background: #6967fe;
        transform: scale(0);
        transition: none;
        animation: zoomOut 0.2s ease-out;
      }
    }
    &:hover input:not(:checked) ~ .radio__icon {
      animation: hover 0.2s;
    }
    &:hover input:not(:checked) ~ label:before {
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    }
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    90% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes hover {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes wave {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    40% {
      opacity: 0.2;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
}

/* 设置持续时间和动画函数
没有设置name，就是v-xx, 设置后就是 [name]-xx
*/
.v-enter-active,
.v-leave-active {
  transition: opacity 0.7s ease;
}

.v-enter-from {
  transform: translateX(-300px);
  opacity: 0;
}

.v-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.v-leave-to {
  opacity: 0;
}

.t_color {
  position: relative;
}
